@model IEnumerable<Optika_Lentium.Models.ZakazivanjePregleda>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.imePrezime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.brojTelefona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nacinKontakta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.danPregleda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vrijemePregleda)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.imePrezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brojTelefona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nacinKontakta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.danPregleda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vrijemePregleda)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.pregledId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.pregledId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.pregledId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
