@model Optika_Lentium.Models.Proizvod
@{
	ViewData["Title"] = "Proizvod";
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<title>Meni</title>
	<link rel="stylesheet" type="text/css" href="/css/Proizvod.css">
	<meta name="viewport" content="width=device=width, initial-scale=1">
</head>
<body>
	<div id="container">

		<!-- Start	Product details -->
		<div class="product-details">

			<!-- 	Product Name -->
			<h1>@Model.nazivProizvod</h1>
			<div class="container">
			<p class="information">"Vidjeti svijet u jasnim bojama i oblicima znači živjeti život punim plućima. Optika nije samo nauka o svjetlosti, već i umjetnost osiguravanja da svaki pogled bude savršen."</p>
			</div>



			<!-- 		Control -->
			<div class="control">

				<!-- Start Button buying -->
				<button class="btn" id="addToCartBtn">
					<!-- 		the Price -->
					<span class="price">@Model.cijena KM</span>
					<!-- 		shopping cart icon-->
					<span class="shopping-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
					<!-- 		Buy Now / ADD to Cart-->
					<span class="buy" id="addToCart">Dodaj u korpu</span>
				
				</button>
				<!-- End Button buying -->
				<div id="message" class="message" style="display: none; "></div>
			</div>

		</div>

		<!-- 	End	Product details   -->
		<!-- 	Start product image & Information -->

		<div class="product-image">

			<img src="@Model.slikaURL">

			<!-- 	product Information-->
			<div class="info">
				<h2>Opis proizvoda</h2>
				<ul>
					<li><strong>Kategorija: </strong>@Model.tip</li>
					<li><strong>Tip: </strong>@Model.kategorija</li>
					<li><strong>Naziv proizvoda: </strong>@Model.nazivProizvod</li>
					<li><strong>Brend: </strong>@Model.nazivProizvod</li>
				</ul>
			</div>
		</div>
		<!--  End product image  -->


	</div>

	<script>
		var addToCartButton = document.getElementById('addToCart');

		// Dodaje event listener za klik na span element
		addToCartButton.addEventListener('click', function () {
			// Kreira novi form element
			var form = document.createElement('form');
			form.setAttribute('method', 'post');
			form.setAttribute('action', '/Proizvod/AddToCart'); // Putanja do vaše akcije AddToCart

			// Dodaje skriveni input element za productId
			var productIdInput = document.createElement('input');
			productIdInput.setAttribute('type', 'hidden');
			productIdInput.setAttribute('name', 'productId');
			productIdInput.setAttribute('value', '@Model.proizvodId'); // Vrijednost proizvodId prema vašem modelu

			// Dodaje input element u formu
			form.appendChild(productIdInput);

			// Dodaje formu u body dokumenta i submita ju
			document.body.appendChild(form);
			form.submit();
		});
	</script>
</body>
</html>