@model Optika_Lentium.Models.Proizvod
@{
	ViewData["Title"] = "Proizvod";
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<title>Meni</title>
	<link rel="stylesheet" type="text/css" href="/css/Proizvod.css">
	<meta name="viewport" content="width=device=width, initial-scale=1">
</head>
<body>
	<div id="container">

		<!-- Start	Product details -->
		<div class="product-details">

			<!-- 	Product Name -->
			<h1>@Model.nazivProizvod</h1>

			<!-- 		Control -->
			<div class="control">

				<!-- Start Button buying -->
				<button class="btn" id="addToCartBtn">
					<!-- 		the Price -->
					<span class="price">@Model.cijena KM</span>
					<!-- 		shopping cart icon-->
					<span class="shopping-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
					<!-- 		Buy Now / ADD to Cart-->
					<span class="buy">Dodaj u korpu</span>
				</button>
				<!-- End Button buying -->
				<div id="message" class="message" style="display: none; "></div>
			</div>

		</div>

		<!-- 	End	Product details   -->
		<!-- 	Start product image & Information -->

		<div class="product-image">

			<img src="@Model.slikaURL">

			<!-- 	product Information-->
			<div class="info">
				<h2>Opis proizvoda</h2>
				<ul>
					<li><strong>Kategorija: </strong>@Model.tip</li>
					<li><strong>Tip: </strong>@Model.kategorija</li>
					<li><strong>Naziv proizvoda: </strong>@Model.nazivProizvod</li>
					<li><strong>Brend: </strong>@Model.nazivProizvod</li>
				</ul>
			</div>
		</div>
		<!--  End product image  -->


	</div>

	<script>
		document.getElementById("addToCartBtn").addEventListener("click", function () {
			document.getElementById("message").style.display = "block";
			document.getElementById("message").textContent = "Proizvod dodan u korpu!";
		});

		document.getElementById('addToCartBtn').addEventListener('click', AddToCart);

		async function AddToCart() {
			const parameters = new URLSearchParams();
			parameters.append("id", @Model.proizvodId.ToString());
			const url = "/Narudzba/AddToCart?" + parameters.toString();

			console.log(url);

			const response = await fetch(url)
				.then(result => result.json());

			console.log(response);

		}
	</script>
</body>
</html>